.box{
    background-color: orange;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .innerbox{
        background-color: aliceblue;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .innerinnerbox{
            background-color: orange;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            .a3{
                background-color: aliceblue;
                 height: 40px;
                 width: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                .a4{
                    background-color: orange;
                    height: 20px;
                    width: 20px;
                    display: flex;
                     justify-content: center;
                     align-items: center;

                    .a5{
                        background-color: aliceblue;
                        height: 10px;
                        width: 10px;
                         display: flex;
                         justify-content: center;
                         align-items: center;

                    }
                }
            }
        }
    }
}

@mixin active{
    background-color: aqua;
    color: blue;
}

#text{
    @include active;
}